.mg-10 {
    margin: 8px 0px;
    padding: 14px 20px;
    border-radius: 8px;
    transition: 300ms ease-in-out;
}

.mg-10:hover {
    box-shadow: 2px 0 14px rgba(0, 0, 0, 0.13), 1px 0 30px rgba(0, 0, 0, 0.08);
    transform: translateX(-2px);
}

.hide {
    transform: translateX(-100%);
    display: none;
}