<app-spinner *ngIf="loading"></app-spinner>
<div class="container" *ngIf="!loading">
    <br>
    <div class="row">
        <span class="left">Options selected: {{selected_applications.length}} | Total -
            {{qualified_applications.length}}</span>
        <button mat-button class="right" (click)="selected_applications = []">Reset</button>
        <button (click)="update_interns()" mat-button class="indigo white-text right">
            Click to Schedule {{selected_applications.length}} Application</button>
    </div>
    <mat-selection-list class="white" [(ngModel)]="selected_applications">
        <mat-list-option *ngFor="let item of qualified_applications" [value]="item._id">
            {{item.name}} - ({{item.rollNo}}), CGPA {{item.marks}} works on {{item.domain}}
        </mat-list-option>
    </mat-selection-list>
</div>