<div class="container">
    <h4 class="mat-h2">List of Tasks assigned to Interns</h4>
    <mat-accordion *ngIf="all_tasks.length > 0; else noData">
        <mat-expansion-panel *ngFor="let item of all_tasks">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{item.created_by.name}} added a Task
                </mat-panel-title>
                <mat-panel-description>
                    Format the task! object here!!
                    <!-- {{item.pInfo.pInfo.name}} will work on it -->
                </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- <div class="row">
                <div class="col s12 grey pd-10">
                    <p> {{item.title}} </p>
                </div>
                <div class="col s6">Status : {{item.is_completed ? "Completed" ? "Under-Process"}}</div>
                <div class="col s6">Created on - {{item.date | date:shortDate}}</div>
            </div> -->
        </mat-expansion-panel>
    </mat-accordion>

    <ng-template #noData class="mat-elevation-z8">
        <div class="white center pd-20">
            <h5 class="mat-h1 pd-20">No Records found!!</h5>
        </div>
    </ng-template>
</div>