.small-font {
    font-size: 11px;
}

.light-green-back {
    background: rgb(173, 241, 202);
}

.small-font-12 {
    font-size: 16px;
}

mat-list-option[aria-selected="true"] {
    background: rgb(135, 238, 109);
}