<app-spinner *ngIf="loading"></app-spinner>
<div class="container">
    <!--header area-->
    <h1 class="mat-h1 pdb-0 mgb-0 row" style="margin-bottom: 10px;">
        <!--title on the left-->
        <div class="col s12 m5">
            {{conducting_interview ? "All Qualified Applications" : "Final Selection of Interns"}}
            <sup id="chip" class="indigo white-text">{{dataSource.data.length | number}}</sup>
        </div>
        <!--update form -->
        <div *ngIf="show_marks_update_form" class="col s8 m6 pd-20 pointer" [class.m7]="show_marks_update_form && !conducting_interview">
            <div class="row" *ngIf="!conducting_interview">
                <button mat-button (click)="update_marks()" class="right"> Update Marks</button>
                <mat-slider color="primary" thumbLabel class="col s6 right" [(ngModel)]="temp_minimum_marks" tickInterval="1" min="0" max="100"></mat-slider>
            </div>
        </div>
        <!--icon on the right!!-->
        <div class="col s4 m1" *ngIf="!show_marks_update_form || conducting_interview" [class.offset-m6]="!show_marks_update_form">
            <button mat-icon-button class=" right" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </h1>
    <!--warning and update form here! shown only when interviews are not conudcted!!-->
    <div *ngIf="!conducting_interview">
        <div class="row indigo lighten-5 pd-20 pointer valign-wrapper center" *ngIf="!show_marks_update_form" (click)="show_marks_update_form = !show_marks_update_form">
            <strong>NOTE </strong> - The Minimum cut-off for the list below is {{minimum_marks}} marks. Click here to update the minimum marks for the list below.
        </div>
    </div>
    <div class="mat-elevation-z8" *ngIf="dataSource.data.length > 0; else noData">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element"> {{element.pInfo.name}} </td>
            </ng-container>
            <ng-container matColumnDef="rollNo">
                <th mat-header-cell *matHeaderCellDef>Roll No.</th>
                <td mat-cell *matCellDef="let element"> {{element.pInfo.rollNo}} </td>
            </ng-container>

            <ng-container matColumnDef="marks">
                <th mat-header-cell *matHeaderCellDef>CGPA</th>
                <td mat-cell *matCellDef="let element"> {{element.pInfo.marks}} </td>
            </ng-container>

            <ng-container matColumnDef="domain">
                <th mat-header-cell *matHeaderCellDef>Domain</th>
                <td mat-cell *matCellDef="let element"> {{element.pInfo.domain}} </td>
            </ng-container>

            <ng-container matColumnDef="interview">
                <th mat-header-cell *matHeaderCellDef>{{conducting_interview ? "Interview" : "Interview marks"}}</th>
                <td mat-cell *matCellDef="let element">
                    <!--When interview is conducted!-->
                    <span *ngIf="conducting_interview">
                        <span class="grey-text">
                            <span *ngIf="!element.interview_attendence && !element.interview">Upcoming</span>
                    <span *ngIf="element.interview && !element.interview_attendence" class="red-text">Absent</span>
                    <span *ngIf="element.interview && element.interview_attendence" class="indigo-text">Present</span>
                    </span>
                    </span>
                    <span *ngIf="!conducting_interview">
                        {{element.interview_marks}}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef>Update</th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="conducting_interview">
                        <mat-icon (click)="open_interview_modal(element)" *ngIf="!element.interview"
                            class="pointer grey-text text-darken-4">visibility</mat-icon>
                        <span *ngIf="element.interview">
                            <mat-icon (click)="open_interview_modal(element)" matTooltip="Interview Conducted"
                                matTooltipPosition="right" class="pointer green-text">create
                            </mat-icon>
                        </span>
                    <!--delete button shown here!!-->
                    <mat-icon class="red-text pdl-10 pointer" *ngIf="showDeleteButton" (click)="delete_application(element)">delete</mat-icon>
                    </span>
                    <!--making a new intern!-->
                    <span *ngIf="!conducting_interview" class="pointer" (click)="make_new_intern_modal(element)">
                        <mat-icon class="indigo-text">work</mat-icon>
                    </span>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator showFirstLastButtons [pageSizeOptions]="[20,50,100]"></mat-paginator>
    </div>
    <ng-template #noData>
        <div class="white pd-20 center">
            <h5 class="pd-20">No Data Found!!</h5>
        </div>
    </ng-template>
</div>

<!--menu for the top right option!!-->
<mat-menu #menu="matMenu">
    <button (click)="show_marks_update_form = !show_marks_update_form" *ngIf="!conducting_interview" mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Update Minimum marks</span>
    </button>
    <button mat-menu-item (click)="conducting_interview_handler(true)">
        <mat-icon>visibility</mat-icon>
        <span> {{conducting_interview ? "Final Selection of Interns" : " Conduct Interviews"}}</span>
    </button>
    <button mat-menu-item (click)="showDeleteButton = !showDeleteButton">
        <mat-icon class="red-text">delete</mat-icon>
        <span>{{showDeleteButton ? "Hide Delete button" : "Show Delete Buttons"}}</span>
    </button>
</mat-menu>