<app-spinner *ngIf="loading"></app-spinner>
<div class="container">
    <h1 class="mat-h1 pdb-0 mgb-0 row">
        Qualified Interns
        <sup id="chip" class="indigo white-text">{{dataSource.data.length | number}}</sup>
        <button mat-button class="right" (click)="showDeleteButton = !showDeleteButton">Show Delete Buttons</button>
    </h1>
    <br>
    <div class="mat-elevation-z8" *ngIf="dataSource.data.length > 0; else noData">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element"> {{element.pInfo.name}} </td>
            </ng-container>
            <ng-container matColumnDef="rollNo">
                <th mat-header-cell *matHeaderCellDef>Roll No.</th>
                <td mat-cell *matCellDef="let element"> {{element.pInfo.rollNo}} </td>
            </ng-container>
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef>Contact Number</th>
                <td mat-cell *matCellDef="let element"> {{element.pInfo.phone}} </td>
            </ng-container>
            <ng-container matColumnDef="domain">
                <th mat-header-cell *matHeaderCellDef>Domain</th>
                <td mat-cell *matCellDef="let element"> {{element.pInfo.domain}} </td>
            </ng-container>

            <ng-container matColumnDef="interview">
                <th mat-header-cell *matHeaderCellDef>Interview</th>
                <td mat-cell *matCellDef="let element">
                    <span class="grey-text">
                        <span *ngIf="!element.interview_attendence && !element.interview">Upcoming</span>
                    <span *ngIf="element.interview && !element.interview_attendence" class="red-text">Absent</span>
                    <span *ngIf="element.interview && element.interview_attendence" class="indigo-text">Present</span>
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef>Update</th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon (click)="Openform(element)" *ngIf="!element.interview" class="pointer grey-text text-darken-4">visibility</mat-icon>
                    <span *ngIf="element.interview">
                        <mat-icon (click)="Openform(element)" matTooltip="Interview Conducted"
                            matTooltipPosition="right" class="pointer green-text">create</mat-icon>
                    </span>
                    <!--delete button shown here!!-->
                    <mat-icon class="red-text pdl-10 pointer" *ngIf="showDeleteButton" (click)="delete_application(element)">delete</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator showFirstLastButtons [pageSizeOptions]="[20,50,100]"></mat-paginator>
    </div>
    <ng-template #noData>
        <div class="white pd-20 center">
            <h5 class="pd-20">No Data Found!!</h5>
        </div>
    </ng-template>
</div>