.radio-group {
    display: inline-flex;
    flex-direction: column;
}

.radio-button {
    margin: 0px 5px;
}

.small-font {
    font-size: 18px;
}

.hidden {
    display: none;
}

.input-file-label {
    padding: 20px;
    border: dashed 1px rgb(184, 184, 184);
    cursor: pointer;
    width: 100%;
    font-size: 22px;
    box-sizing: border-box;
    text-align: center;
}

.pull-right {
    float: right;
}

.pr-2 {
    padding-right: 10px;
}