<button mat-fab (click)="is_editing_interns = !is_editing_interns" class="indigo pointer bottom_push white-text">
    <mat-icon>{{is_editing_interns ? "clear" : "edit"}}</mat-icon>
</button>
<div class="container" *ngIf="!loading">
    <app-table *ngIf="!is_editing_interns" [title]="'List of All Interns'" [data]="all_interns" [displayedColumns]="displayedColumns" [display_val]="display_val"></app-table>
    <div class="row" *ngIf="is_editing_interns">
        <h2 class="col s12 mat-h2">Editing Interns <span id="chip" class="indigo white-text right">
                Total - {{all_interns.length}}</span></h2>
        <mat-accordion class="col s12">
            <mat-expansion-panel *ngFor="let item of all_interns; let i=index">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <strong>{{item.depNo}}. {{item.name | uppercase}} - {{item.rollNo}}</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                        Reporting Officer - {{item.officer | titlecase}} at {{item.oDeptt | uppercase}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row">
                    <div class="col s12 m6">
                        <mat-list>
                            <mat-list-item>Start Date - {{item.start}}</mat-list-item>
                            <mat-list-item>End Date - {{item.end}} </mat-list-item>
                            <mat-list-item>Reporting Officer - {{item.officer}} </mat-list-item>
                            <mat-list-item>Reporting Department - {{item.oDeptt}} </mat-list-item>
                        </mat-list>
                    </div>
                    <div class="col s12 m6">
                        <mat-list>
                            <mat-list-item>CGPA - {{item.pInfo.marks}}</mat-list-item>
                            <mat-list-item>Phone - {{item.pInfo.phone}}</mat-list-item>
                            <mat-list-item>Branch - {{item.pInfo.branch}} </mat-list-item>
                            <mat-list-item>Domains - {{item.pInfo.domain}} </mat-list-item>
                        </mat-list>
                    </div>
                </div>
                <button class="white-text red" mat-button>Delete Intern & All records</button>
                <button mat-button class="right indigo white-text" (click)="mark_intern_inactive(item._id,i)">
                    Discontinue Intern</button>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
<app-spinner *ngIf="loading"></app-spinner>