<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="!loading">
    <!--simple display of the content here!!-->
    <div class="container">
        <app-table *ngIf="!is_creating_updating && !loading" [title]="'List of All Officers'" [data]="dataSource.data" [displayedColumns]="displayedColumns" [display_val]="display_val"></app-table>
    </div>

    <button mat-fab (click)="is_creating_updating = !is_creating_updating" class="indigo white-text bottom_push">
        <mat-icon>{{is_creating_updating ? "clear" : "edit"}}</mat-icon>
    </button>

    <!--ediiting and delete options are here!-->
    <div class="container" *ngIf="is_creating_updating">
        <h1 class="mat-h1">
            Officer Details
            <sup id="chip" class="indigo white-text">{{ dataSource.data.length ? dataSource.data.length : 0 }}</sup>
            <div class="right">
                <button mat-button (click)="show_delete_button = !show_delete_button">Show Delete Button</button>
                <button (click)="openAddOfficer(new)" mat-button class="indigo white-text">Add Officer</button>
            </div>
        </h1>
        <div class="mat-elevation-z8" *ngIf="dataSource.data.length > 0;else noData">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="deptt">
                    <th mat-header-cell *matHeaderCellDef>Department</th>
                    <td mat-cell *matCellDef="let element"> {{element.deptt}} </td>
                </ng-container>

                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef>Contact Number</th>
                    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef>Update</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon (click)="openAddOfficer(element)" *ngIf="!show_delete_button" class="grey-text text-darken-2 pointer">edit</mat-icon>
                        <mat-icon *ngIf="show_delete_button" (click)="delete(element._id)" class="red-text pointer">
                            delete</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <ng-template #noData>
            <div class="pd-20 white center">
                <h5 class="pd-20">No Officers Added</h5>
            </div>
        </ng-template>
    </div>
</div>