.grid-container {
  padding: 20px;
}

@media (min-width:768px) {
  .grid-container {
    left: 250px;
  }
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.box-border {
  border-radius: 8px 8px;
  transition: 350ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.box-border:hover {
  transform: translateY(-5px);
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

#dashboard-right {
  position: absolute;
  right: 25px;
  top: 10px;
}

.highlight tbody tr td {
  padding: 12px 7px;
}

.small-font {
  font-size: 24px;
  line-height: 21px;
}

.font-20 {
  font-size: 16px;
  position: absolute;
  top: 8px;
  left: 14px;
}

h5 {
  padding-top: 25px;
  font-size: 30px;
}

#display-dash-icon {
  position: absolute;
  padding: 13px;
  height: 50px;
  width: 50px;
  top: -10px;
  right: -10px;
  color: #ffffff;
  border-radius: 5px 5px;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.2);
}

.pd-5 {
  padding: 6px;
}
#load-more{
  position: absolute;
  right: 10px;
  bottom: 10px;
}