.pd-20{
    padding: 20px;
}
.pd-10{
    padding: 10px;
}
.left-border{
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-left: 3px solid rgb(212, 42, 42);
    text-align: justify;
}
.left-border > span {
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 5px;
}
.border-radius-7{
    border-radius: 7px;
}