.sub-heading {
    font-size: 18px;
    font-weight: 450;
}

.pdb-30 {
    padding-bottom: 25px;
}

#submitText {
    font-size: 16px;
    font-stretch: expanded;
}

#margin-left {
    transform: translatex(10px);
}

textarea {
    border-bottom: solid 1px grey;
}