<app-spinner *ngIf="loading"></app-spinner>
<div class="container">
    <h1 class="mat-h1">USIP Intern Access
        <button mat-button class="right" (click)="toggle()">{{showDeleteButton ? "Hide Delete button" : "Delete Intern"}}</button>
    </h1>
    <table class="table highlight mat-elevation-z8 mg-10 col s12 white" *ngIf="!loading">
        <thead>
            <th>Deployment Number</th>
            <th>Name</th>
            <th>Roll Number</th>
            <th>Reporting Officer</th>
            <th>End of Tenure</th>
            <th>Update</th>
        </thead>
        <tbody *ngIf="all_interns.length > 0; else noData">
            <tr *ngFor="let element of all_interns;let i = index">
                <td style="padding-left: 10px;">{{element.depNo}} </td>
                <td>{{element.pInfo.name}}</td>
                <td>{{element.pInfo.rollNo}}</td>
                <td>{{element.repOfficer.name | titlecase}} </td>
                <td>{{ element.end | date:shortDate }}</td>
                <td>
                    <mat-icon class="pointer" *ngIf="!showDeleteButton" (click)="allowAccess(element)">input</mat-icon>
                    <mat-icon class="red-text pointer" *ngIf="showDeleteButton" (click)="deleteIntern(element.userDetails)">delete</mat-icon>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #noData>
        <div class="white pd-20 center">
            <h5 class="pd-20">No Records Found!!</h5>
        </div>
    </ng-template>
</div>