<app-spinner *ngIf="loading"></app-spinner>
<div class="container" *ngIf="!loading">
    <h1 class="mat-h1">
        {{show_interns_with_access ? "Intern with Login Access" : "Making Login credentials"}}
        <div class="right valign-wrapper">
            <mat-slide-toggle [(ngModel)]="show_interns_with_access" color="primary">
                <span class="black-text">See Interns With accesss</span>
            </mat-slide-toggle>
            <button mat-button *ngIf="show_interns_with_access" (click)="showDeleteButton = !showDeleteButton">
                {{showDeleteButton ? "Hide" : "Show"}} Delete Button
            </button>
        </div>
    </h1>
    <!--NEWLY MADE INTERNS ARE HERE!!-->
    <table *ngIf="!show_interns_with_access && !loading" class="table highlight mat-elevation-z8 mg-10 col s12 white">
        <thead>
            <th>Deployment Number</th>
            <th>Name</th>
            <th>Roll Number</th>
            <th>Reporting Officer</th>
            <th>End of Tenure</th>
            <th>Update</th>
        </thead>
        <tbody *ngIf="all_interns.length > 0; else noData">
            <tr *ngFor="let element of all_interns;let i = index">
                <td style="padding-left: 10px;">{{element.depNo}} </td>
                <td>{{element.pInfo.name}}</td>
                <td>{{element.pInfo.rollNo}}</td>
                <td>{{element.repOfficer.name | titlecase}} </td>
                <td>{{ element.end | date:shortDate }}</td>
                <td>
                    <mat-icon class="pointer" (click)="allowAccess(element)">input</mat-icon>
                </td>
            </tr>
        </tbody>
    </table>

    <table *ngIf="show_interns_with_access && !loading" class="table highlight mat-elevation-z8 mg-10 col s12 white">
        <thead *ngIf="interns_with_Access.length > 0">
            <th>Deployment Number</th>
            <th>Name</th>
            <th>Roll Number</th>
            <th>End of Tenure</th>
            <th>Update</th>
        </thead>
        <tbody *ngIf="interns_with_Access.length > 0; else noData">
            <tr *ngFor="let element of interns_with_Access;let i = index">
                <td style="padding-left: 10px;">{{element.userDetails.depNo}} </td>
                <td>{{element.userDetails.pInfo.name}}</td>
                <td>{{element.userDetails.pInfo.rollNo}}</td>
                <td>{{ element.userDetails.end | date:shortDate }}</td>
                <td class="valign-wrapper">
                    <input type="text" *ngIf="i == show_update_input_index" class="my_input" [(ngModel)]="updating_password_value">
                    <button mat-icon-button>
                        <!-- button for view password input feild!-->
                        <mat-icon class="pointer" (click)="show_update_input_index = i"
                            *ngIf="!showDeleteButton && show_update_input_index != i">
                            edit
                        </mat-icon>
                        <!--update button click when password is entered!-->
                        <mat-icon class="pointer" (click)="update_password(element._id)"
                            *ngIf="!showDeleteButton && show_update_input_index == i">
                            done </mat-icon>
                        <!--delete button-->
                        <mat-icon class="red-text pointer" *ngIf="showDeleteButton"
                            (click)="deleteIntern(element._id,i)">
                            delete </mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #noData>
    <div class="white pd-20 center">
        <h5 class="pd-20">No Records Found!!</h5>
    </div>
</ng-template>